@import '../../../styles/Variables.scss';
@import '../../../styles/Mixins.scss';

/* Small devices such as large phones 640px and below) */


/* Medium devices such as tablets (768px and 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

/* Large devices such as laptops (1024px and 1280px) */
@media only screen and (min-width: 64em) and (max-width: 80em) {
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {
}

.employee-categories-container {
  .employees-categories-title {
    @include title;
  }

  .add-employee-category-wrapper {
    @include flexSpaceBetween;

    .add-category-title {
      @include subTitle;
    }

    .add-category-btn {
      @include button3;
    }
  }

  .employee-categories-list-container {
    width: $tablet;
    margin: 1rem auto;

    .table-address {
      width: 100%;
      margin-top: 1rem;

      .table-head {
        background-color: $modal-bg;
        .head-row {
          .head-cell {
            text-align: start;
            font-size: $afs;
            padding: 1rem;
            border-bottom: 1px solid $blue;
          }
        }
      }

      .table-body {
        .body-row {
          .body-cell {
            text-align: start;
            font-size: $afs;
            padding: 1rem;
            border-bottom: 1px solid $gray;
          }

          .action-cell {
            @include flexRow;
            align-items: center;
            padding: 1rem;
            border-bottom: 1px solid $gray;

            .update-category {
              @include deleteIcon;
              color: $green;
            }

            .delete-category-btn {
              @include deleteIcon;
              border: none;
            }
          }
        }
      }
    }
  }
}
