@import '../../../styles/Variables.scss';
@import '../../../styles/Mixins.scss';

/* Small devices such as large phones 640px and below) */


/* Medium devices such as tablets (768px and 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

/* Large devices such as laptops (1024px and 1280px) */
@media only screen and (min-width: 64em) and (max-width: 80em) {
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {
}

.fast-contact-tools {
  @include flexColumn;
  padding: 0 0 0 1rem;
  gap: 0;
  width: 25%;
  background-color: $box-bg;

  .fast-contact-tools-title {
    @include subTitle;
  }

  .contact-tool {
    @include flexRow;
    align-items: center;

    .contact-tool-icon {
      font-size: $afs;
      cursor: pointer;
      color: $green;
    }

    .link-container {
      .link {
        font-weight: bold;
        font-size: $nfs;
      }
    }
  }
}
